/*
    style.css
*/

a {
    color: #8a2be8;
}

#quiz_btn {
    background-color: #8a2be2;
    color: #ffffff;
    border: 2px solid #663399;
    margin: 20px 0;
    width: 30%;
    font-size: 30px;
}

.center_that {
    text-align: center;
    margin: 0 auto;
}

.opt_left {
    text-align: left;
}

.opt_right {
    color: #8a2be8;
    text-align: right;
}

.description_p {
    width: 80%;
}

.hide {
    display: none;
}

#question_p {
    margin: 20px 40px;
}

.ul_style {
    list-style-type: none;
    margin-left: 30px;
}

.ans_btn, .hs_btn {
    background-color: #8a2be2;
    color: #ffffff;
    border: 2px solid #663399;
    padding: 5px;
    margin: 10px 0;
    font-size: 20px;
}

.submit_btn {
    background-color: #8a2be2;
    color: #ffffff;
    border: 2px solid #663399;
    margin: 0 20px;
}

#quick_message {
    color: #663594ab;
    font-style: italic;
    
}

/* Switching to small screen */

@media screen and (max-width: 575.98px) {
    .top_opts {
        text-align: center;
    }
}



