/*
    style.css
*/


.center_that {
    text-align: center;
    margin: 0 auto;
}

.opt_left {
    text-align: left;
}

.opt_right {
    text-align: right;
}

.description_p {
    width: 80%;
}

.hide {
    display: none;
}

#question_p {
    margin: 20px 40px;
}

.ul_style {
    list-style-type: none;
    margin-left: 30px;
}

.ans_btn {
    background-color: #8a2be2;
    color: #ffffff;
    border: 2px solid #663399;
    margin: 10px 0;
}

.submit_btn {
    background-color: #8a2be2;
    color: #ffffff;
    border: 2px solid #663399;
    margin: 0 20px;
}

/* Switching to small screen */

@media screen and (max-width: 575.98px) {
    .top_opts {
        text-align: center;
    }
}



